# Chapter 2 - Exercises

#### 1- Retrieve the last 3 characters of each string in the following list, assign it to a new variable

In [ ]:
names = ['maria','joão','leonor','francisco','matilde','santiago','ana','diogo']

#### 2- Print the first 3 elements of the list using a for loop, making each upper case then capitalize it

#### 3- Merge the elements of the first list and the following into one with the same number of elements, print each element

In [ ]:
ages = [21,24,27,30,33,36,39,42]

#### 4-  Using the previous output, remove the first 2 letters of each string and multiply the digits by 2

#### 5-  Using the following list, exclude all the elements with the name leonor and age 42

In [ ]:
newlist = ['maria21','joão24','leonor27','francisco30','matilde33','santiago36','ana39','diogo42']