# Chapter 2 - Exercises

#### 1- Retrieve the last 3 characters of the following list, append them to a new variable

In [1]:
names = ['maria','joão','leonor','francisco','matilde','santiago','ana','diogo']

In [2]:
newvar = []

for values in names:
    newvar.append(values[-3:])

newvar

['ria', 'oão', 'nor', 'sco', 'lde', 'ago', 'ana', 'ogo']

#### 2- Print the first 3 elements of the list using a for loop, making each upper case then capitalize it

In [3]:
for name in names[0:3]:
    print(name.upper().capitalize())

Maria
João
Leonor

#### 3- Merge the elements of the previous list and the following into one, print each then append them to a new variable

In [4]:
ages = [21,24,27,30,33,36,39,42,60,70,30]

In [5]:
namesandages = []

for numbers, values in enumerate(ages):
    if numbers < len(names):
        output = names[numbers]+str(ages[numbers])
        print(output)
        namesandages.append(output)

maria21
joão24
leonor27
francisco30
matilde33
santiago36
ana39
diogo42

#### 4-  Remove the first and last 2 letters then multiply the last 2 digits of the previous output by 2, print them

In [6]:
for values in namesandages:
    print(values[2:-2]+str(int(values[-2:])*2))

ria42
ão48
onor54
ancisco60
tilde66
ntiago72
a78
ogo84

#### 5-  Using the following list, exclude all the elements with the name leonor or age 42

In [7]:
newlist = ['maria21','joão24','leonor27','francisco30','matilde33','santiago36','ana39','diogo42']

In [8]:
i = 0
while i < len(newlist):
    if (('leonor' in newlist[i]) | ('42' in newlist[i])):
        newlist.remove(newlist[i])
    i += 1

newlist

['maria21', 'joão24', 'francisco30', 'matilde33', 'santiago36', 'ana39']