# Chapter 2 - Data & Control Structures

## Data Structures

### Tuples

In [1]:
age = (20, 30, 'Unknown', 40) # Tuples are immutable

In [2]:
type(age)

tuple

In [3]:
age[0]

20

In [4]:
type(age[0])

int

In [5]:
age[2]

'Unknown'

In [6]:
type(age[2])

str

In [7]:
age.count('Unknown')

1

In [8]:
age.index(40)

3

### Lists

In [9]:
dogs = ['Bulldog','Yorkshire Terrier'] # lists are mutable.
type(dogs)

list

In [10]:
dogs.append('Chihuahua') # Add a element (a string) to the list
dogs

['Bulldog', 'Yorkshire Terrier', 'Chihuahua']

In [11]:
dogs.append(['Beagle', 'Poodle']) # Add a list to the existing list
dogs

['Bulldog', 'Yorkshire Terrier', 'Chihuahua', ['Beagle', 'Poodle']]

In [12]:
dogs[3][1] # The second element inside the list of the main list

'Poodle'

In [13]:
dogs.extend(['Chow Chow', 'Setter']) # Add 2 elements to the list
dogs

['Bulldog',
 'Yorkshire Terrier',
 'Chihuahua',
 ['Beagle', 'Poodle'],
 'Chow Chow',
 'Setter']

In [14]:
dogs.insert(0, 'Golden Retriever') # Add a element to the beginning of the list
dogs

['Golden Retriever',
 'Bulldog',
 'Yorkshire Terrier',
 'Chihuahua',
 ['Beagle', 'Poodle'],
 'Chow Chow',
 'Setter']

In [15]:
dogs.remove('Golden Retriever') # Remove the element 'Golden Retriever'
dogs

['Bulldog',
 'Yorkshire Terrier',
 'Chihuahua',
 ['Beagle', 'Poodle'],
 'Chow Chow',
 'Setter']

In [16]:
dogs.insert(len(dogs), 'Golden Retriever') # Add a element to the end of the list
dogs

['Bulldog',
 'Yorkshire Terrier',
 'Chihuahua',
 ['Beagle', 'Poodle'],
 'Chow Chow',
 'Setter',
 'Golden Retriever']

In [17]:
dogs.remove(dogs[3]) # Remove the 4 element (which is a list)
dogs

['Bulldog',
 'Yorkshire Terrier',
 'Chihuahua',
 'Chow Chow',
 'Setter',
 'Golden Retriever']

In [18]:
dogs.remove(dogs[-1]) # Remove the last element
dogs

['Bulldog', 'Yorkshire Terrier', 'Chihuahua', 'Chow Chow', 'Setter']

## Control Structures

### If Statement

In [22]:
number = input('Write a number between 10 and 100')

if (number < 10) | (number > 100):
    print('Error, you inserted a wrong number')

### Try Statement

### For Loops

In [19]:
salaries = ['44k','52k','56k','64k']

newsalaries = []

for salary in salaries:
    salary = int(salary[:-1])*1050 # 5% salary increase
    newsalaries.append(salary)

newsalaries

[46200, 54600, 58800, 67200]

In [20]:
half = len(salaries)/2

for rank, salary in enumerate(newsalaries):
    salary = round(salary/1000,1)
    if rank < half:
        print(str(salary)+'k is on the lower half of the pay range')
    else:
        print(str(salary)+'k is on the upper half of the pay range')

46.2k is on the lower half of the pay range
54.6k is on the lower half of the pay range
58.8k is on the upper half of the pay range
67.2k is on the upper half of the pay range

### While Loops

In [21]:
race = ['John', 'Elton', 'Jagger', 'Mick', 'Mercury', 'Freddy']

finished = 0
while finished < len(race):
    print(race[finished]+' finished in '+str(finished+1)+'º place')
    finished += 1

John finished in 1º place
Elton finished in 2º place
Jagger finished in 3º place
Mick finished in 4º place
Mercury finished in 5º place
Freddy finished in 6º place