# Chapter 3 - Pandas (and Numpy)

## Pandas

In [1]:
import pandas #OR import pandas as pd

In [2]:
csv = pandas.read_csv('DummyData.csv')
csv

   Client Name Employee ID  BirthDate Gender Subsidiary Code OrganizationCode
0          XYW      123XYW       1981      F             XZZ             12AC
1          XYW      123XYW       1980      F             XZY             12AC
2          XYW      123XYW       1985      M             XZY             12AC
3          XYW      123XYW       1976      M             XZY             12AC
4          XYW      123XYW       1974      M             XZZ             12AC
5          XYW      123XYW       1978      M             XZY             12AC
6          XYW      123XYW       1986      F             XZZ             12AC
7          XYW      123XYW       1992      F             XZY             12AC
8          XYU      123XYU       1987      F             XZY             12AC
9          XYU      123XYU       1989      M             XZZ             12AC
10         XYU      123XYU       1986      M             XZZ             12AC
11         XYU      123XYU       1977      F             XZZ             12AC
12         XYU      123XYU       1988      F             XZY             12AC
13         XYU      123XYU       1993      M             XZZ             12AC
14         XYZ      123XYZ       1989      F             XZY             12AC
15         XYZ      123XYZ       1974      M             XZZ             12AC
16         XYZ      123XYZ       1992      M             XZY             12AC
17         XYZ      123XYZ       1988      F             XZY             12AC
18         XYZ      123XYZ       1990      F             XZZ             12AC
19         XYZ      123XYZ       1989      M             XZZ             12AC
20         XYZ      123XYZ       1981      M             XZY             12AC
21         XYZ      123XYZ       1989      F             XZY             12AC
22         XYZ      123XYZ       1991      M             XZY             12AC
23         XYZ      123XYZ       1977      M             XZZ             12AC
24         XYZ      123XYZ       1982      F             XZZ             12AC
25         XYZ      123XYZ       1974      F             XZZ             12AC

In [3]:
excel = pandas.read_excel('DummyData.xlsx')
excel

,Client Name:,ABC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Plan Name:,ABC Plan,NaN,NaN,NaN,NaN
1,Service Name:,ABC Service,NaN,NaN,NaN,NaN
2,Date of the Run:,2019-10-10 00:00:00,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Client Name,Employee ID,BirthDate,Gender,Subsidiary Code,OrganizationCode
5,ABC,123ABC,1983,M,XYZ,12AB
6,ABC,123ABC,1982,M,XYZ,12AB
7,ABC,123ABC,1987,F,XYY,12AB
8,ABC,123ABC,1978,F,XYZ,12AB
9,ABC,123ABC,1976,F,XYY,12AB
10,ABC,123ABC,1980,M,XYZ,12AB
11,ABC,123ABC,1988,F,XYZ,12AB
12,ABC,123ABC,1994,M,XYY,12AB
13,ABC,123ABC,1989,F,XYY,12AB
14,ABC,123ABC,1991,M,XYY,12AB
15,ABC,123ABC,1988,F,XYZ,12AB
16,ABC,123ABC,1979,F,XYZ,12AB
17,ABC,123ABC,1990,M,XYZ,12AB
18,ABC,123ABC,1995,M,XYZ,12AB
19,ACC,123ACC,1991,F,XYY,12AB
20,ACC,123ACC,1976,F,XYZ,12AB
21,ACC,123ACC,1994,F,XYY,12AB
22,ACC,123ACC,1990,M,XYZ,12AB
23,ACC,123ACC,1992,F,XYZ,12AB
24,ACC,123ACC,1991,M,XYY,12AB
25,ACC,123ACC,1983,F,XYY,12AB
26,ACC,123ACC,1991,M,XYZ,12AB
27,ACC,123ACC,1993,F,XYY,12AB
28,ACC,123ACC,1979,F,XYZ,12AB
29,ACC,123ACC,1984,M,XYZ,12AB
30,ACC,123ACC,1976,M,XYY,12AB

In [4]:
excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
Client Name:    30 non-null object
ABC             30 non-null object
Unnamed: 2      27 non-null object
Unnamed: 3      27 non-null object
Unnamed: 4      27 non-null object
Unnamed: 5      27 non-null object
dtypes: object(6)
memory usage: 1.5+ KB

In [5]:
excel.dropna()

,Client Name:,ABC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
4,Client Name,Employee ID,BirthDate,Gender,Subsidiary Code,OrganizationCode
5,ABC,123ABC,1983,M,XYZ,12AB
6,ABC,123ABC,1982,M,XYZ,12AB
7,ABC,123ABC,1987,F,XYY,12AB
8,ABC,123ABC,1978,F,XYZ,12AB
9,ABC,123ABC,1976,F,XYY,12AB
10,ABC,123ABC,1980,M,XYZ,12AB
11,ABC,123ABC,1988,F,XYZ,12AB
12,ABC,123ABC,1994,M,XYY,12AB
13,ABC,123ABC,1989,F,XYY,12AB
14,ABC,123ABC,1991,M,XYY,12AB
15,ABC,123ABC,1988,F,XYZ,12AB
16,ABC,123ABC,1979,F,XYZ,12AB
17,ABC,123ABC,1990,M,XYZ,12AB
18,ABC,123ABC,1995,M,XYZ,12AB
19,ACC,123ACC,1991,F,XYY,12AB
20,ACC,123ACC,1976,F,XYZ,12AB
21,ACC,123ACC,1994,F,XYY,12AB
22,ACC,123ACC,1990,M,XYZ,12AB
23,ACC,123ACC,1992,F,XYZ,12AB
24,ACC,123ACC,1991,M,XYY,12AB
25,ACC,123ACC,1983,F,XYY,12AB
26,ACC,123ACC,1991,M,XYZ,12AB
27,ACC,123ACC,1993,F,XYY,12AB
28,ACC,123ACC,1979,F,XYZ,12AB
29,ACC,123ACC,1984,M,XYZ,12AB
30,ACC,123ACC,1976,M,XYY,12AB

In [6]:
excel = pandas.read_excel('DummyData.xlsx',header=5)
excel

   Client Name Employee ID  BirthDate Gender Subsidiary Code OrganizationCode
0          ABC      123ABC       1983      M             XYZ             12AB
1          ABC      123ABC       1982      M             XYZ             12AB
2          ABC      123ABC       1987      F             XYY             12AB
3          ABC      123ABC       1978      F             XYZ             12AB
4          ABC      123ABC       1976      F             XYY             12AB
5          ABC      123ABC       1980      M             XYZ             12AB
6          ABC      123ABC       1988      F             XYZ             12AB
7          ABC      123ABC       1994      M             XYY             12AB
8          ABC      123ABC       1989      F             XYY             12AB
9          ABC      123ABC       1991      M             XYY             12AB
10         ABC      123ABC       1988      F             XYZ             12AB
11         ABC      123ABC       1979      F             XYZ             12AB
12         ABC      123ABC       1990      M             XYZ             12AB
13         ABC      123ABC       1995      M             XYZ             12AB
14         ACC      123ACC       1991      F             XYY             12AB
15         ACC      123ACC       1976      F             XYZ             12AB
16         ACC      123ACC       1994      F             XYY             12AB
17         ACC      123ACC       1990      M             XYZ             12AB
18         ACC      123ACC       1992      F             XYZ             12AB
19         ACC      123ACC       1991      M             XYY             12AB
20         ACC      123ACC       1983      F             XYY             12AB
21         ACC      123ACC       1991      M             XYZ             12AB
22         ACC      123ACC       1993      F             XYY             12AB
23         ACC      123ACC       1979      F             XYZ             12AB
24         ACC      123ACC       1984      M             XYZ             12AB
25         ACC      123ACC       1976      M             XYY             12AB

In [7]:
excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
Client Name         26 non-null object
Employee ID         26 non-null object
BirthDate           26 non-null int64
Gender              26 non-null object
Subsidiary Code     26 non-null object
OrganizationCode    26 non-null object
dtypes: int64(1), object(5)
memory usage: 1.3+ KB

In [8]:
excel['BirthDate']

0     1983
1     1982
2     1987
3     1978
4     1976
5     1980
6     1988
7     1994
8     1989
9     1991
10    1988
11    1979
12    1990
13    1995
14    1991
15    1976
16    1994
17    1990
18    1992
19    1991
20    1983
21    1991
22    1993
23    1979
24    1984
25    1976
Name: BirthDate, dtype: int64

In [9]:
excel['BirthDate'] = excel['BirthDate']*2
excel['BirthDate']

0     3966
1     3964
2     3974
3     3956
4     3952
5     3960
6     3976
7     3988
8     3978
9     3982
10    3976
11    3958
12    3980
13    3990
14    3982
15    3952
16    3988
17    3980
18    3984
19    3982
20    3966
21    3982
22    3986
23    3958
24    3968
25    3952
Name: BirthDate, dtype: int64

In [10]:
excel = excel.rename(columns={"BirthDate": "2x BirthDate"})
excel

,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
0,ABC,123ABC,3966,M,XYZ,12AB
1,ABC,123ABC,3964,M,XYZ,12AB
2,ABC,123ABC,3974,F,XYY,12AB
3,ABC,123ABC,3956,F,XYZ,12AB
4,ABC,123ABC,3952,F,XYY,12AB
5,ABC,123ABC,3960,M,XYZ,12AB
6,ABC,123ABC,3976,F,XYZ,12AB
7,ABC,123ABC,3988,M,XYY,12AB
8,ABC,123ABC,3978,F,XYY,12AB
9,ABC,123ABC,3982,M,XYY,12AB
10,ABC,123ABC,3976,F,XYZ,12AB
11,ABC,123ABC,3958,F,XYZ,12AB
12,ABC,123ABC,3980,M,XYZ,12AB
13,ABC,123ABC,3990,M,XYZ,12AB
14,ACC,123ACC,3982,F,XYY,12AB
15,ACC,123ACC,3952,F,XYZ,12AB
16,ACC,123ACC,3988,F,XYY,12AB
17,ACC,123ACC,3980,M,XYZ,12AB
18,ACC,123ACC,3984,F,XYZ,12AB
19,ACC,123ACC,3982,M,XYY,12AB
20,ACC,123ACC,3966,F,XYY,12AB
21,ACC,123ACC,3982,M,XYZ,12AB
22,ACC,123ACC,3986,F,XYY,12AB
23,ACC,123ACC,3958,F,XYZ,12AB
24,ACC,123ACC,3968,M,XYZ,12AB
25,ACC,123ACC,3952,M,XYY,12AB

In [11]:
birthdates = pandas.Series([1983,1982,1987,1978,1976,1980,1988,1994,1989,
                            1991,1988,1979,1990,1995,1991,1976,1994,1990,
                            1992,1991,1983,1991,1993,1979,1984,1976])
birthdates

0     1983
1     1982
2     1987
3     1978
4     1976
5     1980
6     1988
7     1994
8     1989
9     1991
10    1988
11    1979
12    1990
13    1995
14    1991
15    1976
16    1994
17    1990
18    1992
19    1991
20    1983
21    1991
22    1993
23    1979
24    1984
25    1976
dtype: int64

In [12]:
excel['BirthDate'] = birthdates
excel

,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode,BirthDate
0,ABC,123ABC,3966,M,XYZ,12AB,1983
1,ABC,123ABC,3964,M,XYZ,12AB,1982
2,ABC,123ABC,3974,F,XYY,12AB,1987
3,ABC,123ABC,3956,F,XYZ,12AB,1978
4,ABC,123ABC,3952,F,XYY,12AB,1976
5,ABC,123ABC,3960,M,XYZ,12AB,1980
6,ABC,123ABC,3976,F,XYZ,12AB,1988
7,ABC,123ABC,3988,M,XYY,12AB,1994
8,ABC,123ABC,3978,F,XYY,12AB,1989
9,ABC,123ABC,3982,M,XYY,12AB,1991
10,ABC,123ABC,3976,F,XYZ,12AB,1988
11,ABC,123ABC,3958,F,XYZ,12AB,1979
12,ABC,123ABC,3980,M,XYZ,12AB,1990
13,ABC,123ABC,3990,M,XYZ,12AB,1995
14,ACC,123ACC,3982,F,XYY,12AB,1991
15,ACC,123ACC,3952,F,XYZ,12AB,1976
16,ACC,123ACC,3988,F,XYY,12AB,1994
17,ACC,123ACC,3980,M,XYZ,12AB,1990
18,ACC,123ACC,3984,F,XYZ,12AB,1992
19,ACC,123ACC,3982,M,XYY,12AB,1991
20,ACC,123ACC,3966,F,XYY,12AB,1983
21,ACC,123ACC,3982,M,XYZ,12AB,1991
22,ACC,123ACC,3986,F,XYY,12AB,1993
23,ACC,123ACC,3958,F,XYZ,12AB,1979
24,ACC,123ACC,3968,M,XYZ,12AB,1984
25,ACC,123ACC,3952,M,XYY,12AB,1976

In [13]:
birthdate = pandas.DataFrame({'BirthDate': [1983,1982,1987,1978,1976,1980,1988,1994,1989,
                                            1991,1988,1979,1990,1995,1991,1976,1994,1990,
                                            1992,1991,1983,1991,1993,1979,1984,1976]})
birthdate

    BirthDate
0        1983
1        1982
2        1987
3        1978
4        1976
5        1980
6        1988
7        1994
8        1989
9        1991
10       1988
11       1979
12       1990
13       1995
14       1991
15       1976
16       1994
17       1990
18       1992
19       1991
20       1983
21       1991
22       1993
23       1979
24       1984
25       1976

In [14]:
excel = excel.sort_values(by=['BirthDate'])
excel

,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode,BirthDate
25,ACC,123ACC,3952,M,XYY,12AB,1976
4,ABC,123ABC,3952,F,XYY,12AB,1976
15,ACC,123ACC,3952,F,XYZ,12AB,1976
3,ABC,123ABC,3956,F,XYZ,12AB,1978
23,ACC,123ACC,3958,F,XYZ,12AB,1979
11,ABC,123ABC,3958,F,XYZ,12AB,1979
5,ABC,123ABC,3960,M,XYZ,12AB,1980
1,ABC,123ABC,3964,M,XYZ,12AB,1982
20,ACC,123ACC,3966,F,XYY,12AB,1983
0,ABC,123ABC,3966,M,XYZ,12AB,1983
24,ACC,123ACC,3968,M,XYZ,12AB,1984
2,ABC,123ABC,3974,F,XYY,12AB,1987
10,ABC,123ABC,3976,F,XYZ,12AB,1988
6,ABC,123ABC,3976,F,XYZ,12AB,1988
8,ABC,123ABC,3978,F,XYY,12AB,1989
17,ACC,123ACC,3980,M,XYZ,12AB,1990
12,ABC,123ABC,3980,M,XYZ,12AB,1990
14,ACC,123ACC,3982,F,XYY,12AB,1991
19,ACC,123ACC,3982,M,XYY,12AB,1991
21,ACC,123ACC,3982,M,XYZ,12AB,1991
9,ABC,123ABC,3982,M,XYY,12AB,1991
18,ACC,123ACC,3984,F,XYZ,12AB,1992
22,ACC,123ACC,3986,F,XYY,12AB,1993
7,ABC,123ABC,3988,M,XYY,12AB,1994
16,ACC,123ACC,3988,F,XYY,12AB,1994
13,ABC,123ABC,3990,M,XYZ,12AB,1995

In [15]:
excel = excel.reset_index()
excel

,index,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode,BirthDate
0,25,ACC,123ACC,3952,M,XYY,12AB,1976
1,4,ABC,123ABC,3952,F,XYY,12AB,1976
2,15,ACC,123ACC,3952,F,XYZ,12AB,1976
3,3,ABC,123ABC,3956,F,XYZ,12AB,1978
4,23,ACC,123ACC,3958,F,XYZ,12AB,1979
5,11,ABC,123ABC,3958,F,XYZ,12AB,1979
6,5,ABC,123ABC,3960,M,XYZ,12AB,1980
7,1,ABC,123ABC,3964,M,XYZ,12AB,1982
8,20,ACC,123ACC,3966,F,XYY,12AB,1983
9,0,ABC,123ABC,3966,M,XYZ,12AB,1983
10,24,ACC,123ACC,3968,M,XYZ,12AB,1984
11,2,ABC,123ABC,3974,F,XYY,12AB,1987
12,10,ABC,123ABC,3976,F,XYZ,12AB,1988
13,6,ABC,123ABC,3976,F,XYZ,12AB,1988
14,8,ABC,123ABC,3978,F,XYY,12AB,1989
15,17,ACC,123ACC,3980,M,XYZ,12AB,1990
16,12,ABC,123ABC,3980,M,XYZ,12AB,1990
17,14,ACC,123ACC,3982,F,XYY,12AB,1991
18,19,ACC,123ACC,3982,M,XYY,12AB,1991
19,21,ACC,123ACC,3982,M,XYZ,12AB,1991
20,9,ABC,123ABC,3982,M,XYY,12AB,1991
21,18,ACC,123ACC,3984,F,XYZ,12AB,1992
22,22,ACC,123ACC,3986,F,XYY,12AB,1993
23,7,ABC,123ABC,3988,M,XYY,12AB,1994
24,16,ACC,123ACC,3988,F,XYY,12AB,1994
25,13,ABC,123ABC,3990,M,XYZ,12AB,1995

In [16]:
excel = excel.drop('index',axis=1)
excel

,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode,BirthDate
0,ACC,123ACC,3952,M,XYY,12AB,1976
1,ABC,123ABC,3952,F,XYY,12AB,1976
2,ACC,123ACC,3952,F,XYZ,12AB,1976
3,ABC,123ABC,3956,F,XYZ,12AB,1978
4,ACC,123ACC,3958,F,XYZ,12AB,1979
5,ABC,123ABC,3958,F,XYZ,12AB,1979
6,ABC,123ABC,3960,M,XYZ,12AB,1980
7,ABC,123ABC,3964,M,XYZ,12AB,1982
8,ACC,123ACC,3966,F,XYY,12AB,1983
9,ABC,123ABC,3966,M,XYZ,12AB,1983
10,ACC,123ACC,3968,M,XYZ,12AB,1984
11,ABC,123ABC,3974,F,XYY,12AB,1987
12,ABC,123ABC,3976,F,XYZ,12AB,1988
13,ABC,123ABC,3976,F,XYZ,12AB,1988
14,ABC,123ABC,3978,F,XYY,12AB,1989
15,ACC,123ACC,3980,M,XYZ,12AB,1990
16,ABC,123ABC,3980,M,XYZ,12AB,1990
17,ACC,123ACC,3982,F,XYY,12AB,1991
18,ACC,123ACC,3982,M,XYY,12AB,1991
19,ACC,123ACC,3982,M,XYZ,12AB,1991
20,ABC,123ABC,3982,M,XYY,12AB,1991
21,ACC,123ACC,3984,F,XYZ,12AB,1992
22,ACC,123ACC,3986,F,XYY,12AB,1993
23,ABC,123ABC,3988,M,XYY,12AB,1994
24,ACC,123ACC,3988,F,XYY,12AB,1994
25,ABC,123ABC,3990,M,XYZ,12AB,1995

In [17]:
excel = excel.set_index('BirthDate')
excel

,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
BirthDate,,,,,,
1976,ACC,123ACC,3952,M,XYY,12AB
1976,ABC,123ABC,3952,F,XYY,12AB
1976,ACC,123ACC,3952,F,XYZ,12AB
1978,ABC,123ABC,3956,F,XYZ,12AB
1979,ACC,123ACC,3958,F,XYZ,12AB
1979,ABC,123ABC,3958,F,XYZ,12AB
1980,ABC,123ABC,3960,M,XYZ,12AB
1982,ABC,123ABC,3964,M,XYZ,12AB
1983,ACC,123ACC,3966,F,XYY,12AB
1983,ABC,123ABC,3966,M,XYZ,12AB
1984,ACC,123ACC,3968,M,XYZ,12AB
1987,ABC,123ABC,3974,F,XYY,12AB
1988,ABC,123ABC,3976,F,XYZ,12AB
1988,ABC,123ABC,3976,F,XYZ,12AB
1989,ABC,123ABC,3978,F,XYY,12AB
1990,ACC,123ACC,3980,M,XYZ,12AB
1990,ABC,123ABC,3980,M,XYZ,12AB
1991,ACC,123ACC,3982,F,XYY,12AB
1991,ACC,123ACC,3982,M,XYY,12AB
1991,ACC,123ACC,3982,M,XYZ,12AB
1991,ABC,123ABC,3982,M,XYY,12AB
1992,ACC,123ACC,3984,F,XYZ,12AB
1993,ACC,123ACC,3986,F,XYY,12AB
1994,ABC,123ABC,3988,M,XYY,12AB
1994,ACC,123ACC,3988,F,XYY,12AB
1995,ABC,123ABC,3990,M,XYZ,12AB

In [18]:
excel = excel.reset_index()
excel

,BirthDate,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
0,1976,ACC,123ACC,3952,M,XYY,12AB
1,1976,ABC,123ABC,3952,F,XYY,12AB
2,1976,ACC,123ACC,3952,F,XYZ,12AB
3,1978,ABC,123ABC,3956,F,XYZ,12AB
4,1979,ACC,123ACC,3958,F,XYZ,12AB
5,1979,ABC,123ABC,3958,F,XYZ,12AB
6,1980,ABC,123ABC,3960,M,XYZ,12AB
7,1982,ABC,123ABC,3964,M,XYZ,12AB
8,1983,ACC,123ACC,3966,F,XYY,12AB
9,1983,ABC,123ABC,3966,M,XYZ,12AB
10,1984,ACC,123ACC,3968,M,XYZ,12AB
11,1987,ABC,123ABC,3974,F,XYY,12AB
12,1988,ABC,123ABC,3976,F,XYZ,12AB
13,1988,ABC,123ABC,3976,F,XYZ,12AB
14,1989,ABC,123ABC,3978,F,XYY,12AB
15,1990,ACC,123ACC,3980,M,XYZ,12AB
16,1990,ABC,123ABC,3980,M,XYZ,12AB
17,1991,ACC,123ACC,3982,F,XYY,12AB
18,1991,ACC,123ACC,3982,M,XYY,12AB
19,1991,ACC,123ACC,3982,M,XYZ,12AB
20,1991,ABC,123ABC,3982,M,XYY,12AB
21,1992,ACC,123ACC,3984,F,XYZ,12AB
22,1993,ACC,123ACC,3986,F,XYY,12AB
23,1994,ABC,123ABC,3988,M,XYY,12AB
24,1994,ACC,123ACC,3988,F,XYY,12AB
25,1995,ABC,123ABC,3990,M,XYZ,12AB

In [19]:
excel[excel['BirthDate'] == 1976]# == means Is equal to, returns boolean (True or False)

,BirthDate,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
0,1976,ACC,123ACC,3952,M,XYY,12AB
1,1976,ABC,123ABC,3952,F,XYY,12AB
2,1976,ACC,123ACC,3952,F,XYZ,12AB

In [20]:
excel['BirthDate'][excel['BirthDate'] == 1976]

0    1976
1    1976
2    1976
Name: BirthDate, dtype: int64

In [21]:
excel['BirthDate'][excel['BirthDate'] == 1976][0]

1976

In [22]:
excel[(excel['BirthDate'] == 1976) & (excel['Client Name'] == 'ABC')]

,BirthDate,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
1,1976,ABC,123ABC,3952,F,XYY,12AB

In [23]:
excel['BirthDate'][(excel['BirthDate'] == 1976) & (excel['Client Name'] == 'ABC')]# & = AND

1    1976
Name: BirthDate, dtype: int64

In [24]:
excel['BirthDate'][(excel['BirthDate'] == 1976) & (excel['Client Name'] == 'ABC')][1]

1976

In [25]:
excel[(excel['BirthDate'] == 1976) | (excel['Client Name'] == 'ABC')]# | = OR

,BirthDate,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
0,1976,ACC,123ACC,3952,M,XYY,12AB
1,1976,ABC,123ABC,3952,F,XYY,12AB
2,1976,ACC,123ACC,3952,F,XYZ,12AB
3,1978,ABC,123ABC,3956,F,XYZ,12AB
5,1979,ABC,123ABC,3958,F,XYZ,12AB
6,1980,ABC,123ABC,3960,M,XYZ,12AB
7,1982,ABC,123ABC,3964,M,XYZ,12AB
9,1983,ABC,123ABC,3966,M,XYZ,12AB
11,1987,ABC,123ABC,3974,F,XYY,12AB
12,1988,ABC,123ABC,3976,F,XYZ,12AB
13,1988,ABC,123ABC,3976,F,XYZ,12AB
14,1989,ABC,123ABC,3978,F,XYY,12AB
16,1990,ABC,123ABC,3980,M,XYZ,12AB
20,1991,ABC,123ABC,3982,M,XYY,12AB
23,1994,ABC,123ABC,3988,M,XYY,12AB
25,1995,ABC,123ABC,3990,M,XYZ,12AB

In [26]:
excel.loc[:, ['Client Name','BirthDate']]

   Client Name  BirthDate
0          ACC       1976
1          ABC       1976
2          ACC       1976
3          ABC       1978
4          ACC       1979
5          ABC       1979
6          ABC       1980
7          ABC       1982
8          ACC       1983
9          ABC       1983
10         ACC       1984
11         ABC       1987
12         ABC       1988
13         ABC       1988
14         ABC       1989
15         ACC       1990
16         ABC       1990
17         ACC       1991
18         ACC       1991
19         ACC       1991
20         ABC       1991
21         ACC       1992
22         ACC       1993
23         ABC       1994
24         ACC       1994
25         ABC       1995

In [27]:
excel.iloc[3]

BirthDate             1978
Client Name            ABC
Employee ID         123ABC
2x BirthDate          3956
Gender                   F
Subsidiary Code        XYZ
OrganizationCode      12AB
Name: 3, dtype: object

In [28]:
excel.iloc[3:7]

,BirthDate,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
3,1978,ABC,123ABC,3956,F,XYZ,12AB
4,1979,ACC,123ACC,3958,F,XYZ,12AB
5,1979,ABC,123ABC,3958,F,XYZ,12AB
6,1980,ABC,123ABC,3960,M,XYZ,12AB

In [29]:
excel.min(axis=1)

0     1976
1     1976
2     1976
3     1978
4     1979
5     1979
6     1980
7     1982
8     1983
9     1983
10    1984
11    1987
12    1988
13    1988
14    1989
15    1990
16    1990
17    1991
18    1991
19    1991
20    1991
21    1992
22    1993
23    1994
24    1994
25    1995
dtype: int64

In [30]:
excel[['BirthDate','2x BirthDate']].min(axis=1)

0     1976
1     1976
2     1976
3     1978
4     1979
5     1979
6     1980
7     1982
8     1983
9     1983
10    1984
11    1987
12    1988
13    1988
14    1989
15    1990
16    1990
17    1991
18    1991
19    1991
20    1991
21    1992
22    1993
23    1994
24    1994
25    1995
dtype: int64

In [31]:
groups = excel.groupby('Client Name')
groups

In [32]:
groups.size()

Client Name
ABC    14
ACC    12
dtype: int64

In [33]:
groups.mean()

               BirthDate  2x BirthDate
Client Name
ABC          1985.714286   3971.428571
ACC          1986.666667   3973.333333

In [34]:
groups.aggregate([min, max]).round(2)

            BirthDate       Employee ID         2x BirthDate       Gender      \
                  min   max         min     max          min   max    min max
Client Name
ABC              1976  1995      123ABC  123ABC         3952  3990      F   M
ACC              1976  1994      123ACC  123ACC         3952  3988      F   M

            Subsidiary Code      OrganizationCode
                        min  max              min   max
Client Name
ABC                     XYY  XYZ             12AB  12AB
ACC                     XYY  XYZ             12AB  12AB

In [35]:
groups = excel.groupby(['Client Name', 'Subsidiary Code'])

In [36]:
groups.size()

Client Name  Subsidiary Code
ABC          XYY                5
             XYZ                9
ACC          XYY                6
             XYZ                6
dtype: int64

In [37]:
import numpy as np

In [38]:
groups['BirthDate'].aggregate([np.mean,sum])

                                    mean    sum
Client Name Subsidiary Code
ABC         XYY              1987.400000   9937
            XYZ              1984.777778  17863
ACC         XYY              1988.000000  11928
            XYZ              1985.333333  11912

In [39]:
for name, group in excel.groupby('Client Name'):
    print(name)

ABC
ACC

In [40]:
for name, group in excel.groupby('Client Name'):
    print(group)

    BirthDate Client Name Employee ID  2x BirthDate Gender Subsidiary Code  \
1        1976         ABC      123ABC          3952      F             XYY
3        1978         ABC      123ABC          3956      F             XYZ
5        1979         ABC      123ABC          3958      F             XYZ
6        1980         ABC      123ABC          3960      M             XYZ
7        1982         ABC      123ABC          3964      M             XYZ
9        1983         ABC      123ABC          3966      M             XYZ
11       1987         ABC      123ABC          3974      F             XYY
12       1988         ABC      123ABC          3976      F             XYZ
13       1988         ABC      123ABC          3976      F             XYZ
14       1989         ABC      123ABC          3978      F             XYY
16       1990         ABC      123ABC          3980      M             XYZ
20       1991         ABC      123ABC          3982      M             XYY
23       1994         ABC      123ABC          3988      M             XYY
25       1995         ABC      123ABC          3990      M             XYZ

   OrganizationCode
1              12AB
3              12AB
5              12AB
6              12AB
7              12AB
9              12AB
11             12AB
12             12AB
13             12AB
14             12AB
16             12AB
20             12AB
23             12AB
25             12AB
    BirthDate Client Name Employee ID  2x BirthDate Gender Subsidiary Code  \
0        1976         ACC      123ACC          3952      M             XYY
2        1976         ACC      123ACC          3952      F             XYZ
4        1979         ACC      123ACC          3958      F             XYZ
8        1983         ACC      123ACC          3966      F             XYY
10       1984         ACC      123ACC          3968      M             XYZ
15       1990         ACC      123ACC          3980      M             XYZ
17       1991         ACC      123ACC          3982      F             XYY
18       1991         ACC      123ACC          3982      M             XYY
19       1991         ACC      123ACC          3982      M             XYZ
21       1992         ACC      123ACC          3984      F             XYZ
22       1993         ACC      123ACC          3986      F             XYY
24       1994         ACC      123ACC          3988      F             XYY

   OrganizationCode
0              12AB
2              12AB
4              12AB
8              12AB
10             12AB
15             12AB
17             12AB
18             12AB
19             12AB
21             12AB
22             12AB
24             12AB

In [41]:
for name, group in excel.groupby('Client Name'):
    print(group['BirthDate'])

1     1976
3     1978
5     1979
6     1980
7     1982
9     1983
11    1987
12    1988
13    1988
14    1989
16    1990
20    1991
23    1994
25    1995
Name: BirthDate, dtype: int64
0     1976
2     1976
4     1979
8     1983
10    1984
15    1990
17    1991
18    1991
19    1991
21    1992
22    1993
24    1994
Name: BirthDate, dtype: int64

In [42]:
for name, group in excel.groupby(['Client Name','Subsidiary Code']):
    print(name)

('ABC', 'XYY')
('ABC', 'XYZ')
('ACC', 'XYY')
('ACC', 'XYZ')

In [43]:
for name, group in excel.groupby(['Client Name','Subsidiary Code']):
    print(group)

    BirthDate Client Name Employee ID  2x BirthDate Gender Subsidiary Code  \
1        1976         ABC      123ABC          3952      F             XYY
11       1987         ABC      123ABC          3974      F             XYY
14       1989         ABC      123ABC          3978      F             XYY
20       1991         ABC      123ABC          3982      M             XYY
23       1994         ABC      123ABC          3988      M             XYY

   OrganizationCode
1              12AB
11             12AB
14             12AB
20             12AB
23             12AB
    BirthDate Client Name Employee ID  2x BirthDate Gender Subsidiary Code  \
3        1978         ABC      123ABC          3956      F             XYZ
5        1979         ABC      123ABC          3958      F             XYZ
6        1980         ABC      123ABC          3960      M             XYZ
7        1982         ABC      123ABC          3964      M             XYZ
9        1983         ABC      123ABC          3966      M             XYZ
12       1988         ABC      123ABC          3976      F             XYZ
13       1988         ABC      123ABC          3976      F             XYZ
16       1990         ABC      123ABC          3980      M             XYZ
25       1995         ABC      123ABC          3990      M             XYZ

   OrganizationCode
3              12AB
5              12AB
6              12AB
7              12AB
9              12AB
12             12AB
13             12AB
16             12AB
25             12AB
    BirthDate Client Name Employee ID  2x BirthDate Gender Subsidiary Code  \
0        1976         ACC      123ACC          3952      M             XYY
8        1983         ACC      123ACC          3966      F             XYY
17       1991         ACC      123ACC          3982      F             XYY
18       1991         ACC      123ACC          3982      M             XYY
22       1993         ACC      123ACC          3986      F             XYY
24       1994         ACC      123ACC          3988      F             XYY

   OrganizationCode
0              12AB
8              12AB
17             12AB
18             12AB
22             12AB
24             12AB
    BirthDate Client Name Employee ID  2x BirthDate Gender Subsidiary Code  \
2        1976         ACC      123ACC          3952      F             XYZ
4        1979         ACC      123ACC          3958      F             XYZ
10       1984         ACC      123ACC          3968      M             XYZ
15       1990         ACC      123ACC          3980      M             XYZ
19       1991         ACC      123ACC          3982      M             XYZ
21       1992         ACC      123ACC          3984      F             XYZ

   OrganizationCode
2              12AB
4              12AB
10             12AB
15             12AB
19             12AB
21             12AB

In [44]:
for name, group in excel.groupby(['Client Name','Subsidiary Code']):
    print(group['BirthDate'])

1     1976
11    1987
14    1989
20    1991
23    1994
Name: BirthDate, dtype: int64
3     1978
5     1979
6     1980
7     1982
9     1983
12    1988
13    1988
16    1990
25    1995
Name: BirthDate, dtype: int64
0     1976
8     1983
17    1991
18    1991
22    1993
24    1994
Name: BirthDate, dtype: int64
2     1976
4     1979
10    1984
15    1990
19    1991
21    1992
Name: BirthDate, dtype: int64

In [45]:
for name, group in excel.groupby(['Client Name','Subsidiary Code']):
    excel.loc[(excel['Client Name'] == name[0]) & (excel['Subsidiary Code'] == name[1]), 'BirthDate'] = np.mean(group['BirthDate'])
excel

,BirthDate,Client Name,Employee ID,2x BirthDate,Gender,Subsidiary Code,OrganizationCode
0,1988.000000,ACC,123ACC,3952,M,XYY,12AB
1,1987.400000,ABC,123ABC,3952,F,XYY,12AB
2,1985.333333,ACC,123ACC,3952,F,XYZ,12AB
3,1984.777778,ABC,123ABC,3956,F,XYZ,12AB
4,1985.333333,ACC,123ACC,3958,F,XYZ,12AB
5,1984.777778,ABC,123ABC,3958,F,XYZ,12AB
6,1984.777778,ABC,123ABC,3960,M,XYZ,12AB
7,1984.777778,ABC,123ABC,3964,M,XYZ,12AB
8,1988.000000,ACC,123ACC,3966,F,XYY,12AB
9,1984.777778,ABC,123ABC,3966,M,XYZ,12AB
10,1985.333333,ACC,123ACC,3968,M,XYZ,12AB
11,1987.400000,ABC,123ABC,3974,F,XYY,12AB
12,1984.777778,ABC,123ABC,3976,F,XYZ,12AB
13,1984.777778,ABC,123ABC,3976,F,XYZ,12AB
14,1987.400000,ABC,123ABC,3978,F,XYY,12AB
15,1985.333333,ACC,123ACC,3980,M,XYZ,12AB
16,1984.777778,ABC,123ABC,3980,M,XYZ,12AB
17,1988.000000,ACC,123ACC,3982,F,XYY,12AB
18,1988.000000,ACC,123ACC,3982,M,XYY,12AB
19,1985.333333,ACC,123ACC,3982,M,XYZ,12AB
20,1987.400000,ABC,123ABC,3982,M,XYY,12AB
21,1985.333333,ACC,123ACC,3984,F,XYZ,12AB
22,1988.000000,ACC,123ACC,3986,F,XYY,12AB
23,1987.400000,ABC,123ABC,3988,M,XYY,12AB
24,1988.000000,ACC,123ACC,3988,F,XYY,12AB
25,1984.777778,ABC,123ABC,3990,M,XYZ,12AB

In [46]:
excel.append(csv)

C:\Users\leonardo-filipe\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,2x BirthDate,BirthDate,Client Name,Employee ID,Gender,OrganizationCode,Subsidiary Code
0,3952.0,1988.000000,ACC,123ACC,M,12AB,XYY
1,3952.0,1987.400000,ABC,123ABC,F,12AB,XYY
2,3952.0,1985.333333,ACC,123ACC,F,12AB,XYZ
3,3956.0,1984.777778,ABC,123ABC,F,12AB,XYZ
4,3958.0,1985.333333,ACC,123ACC,F,12AB,XYZ
5,3958.0,1984.777778,ABC,123ABC,F,12AB,XYZ
6,3960.0,1984.777778,ABC,123ABC,M,12AB,XYZ
7,3964.0,1984.777778,ABC,123ABC,M,12AB,XYZ
8,3966.0,1988.000000,ACC,123ACC,F,12AB,XYY
9,3966.0,1984.777778,ABC,123ABC,M,12AB,XYZ
10,3968.0,1985.333333,ACC,123ACC,M,12AB,XYZ
11,3974.0,1987.400000,ABC,123ABC,F,12AB,XYY
12,3976.0,1984.777778,ABC,123ABC,F,12AB,XYZ
13,3976.0,1984.777778,ABC,123ABC,F,12AB,XYZ
14,3978.0,1987.400000,ABC,123ABC,F,12AB,XYY
15,3980.0,1985.333333,ACC,123ACC,M,12AB,XYZ
16,3980.0,1984.777778,ABC,123ABC,M,12AB,XYZ
17,3982.0,1988.000000,ACC,123ACC,F,12AB,XYY
18,3982.0,1988.000000,ACC,123ACC,M,12AB,XYY
19,3982.0,1985.333333,ACC,123ACC,M,12AB,XYZ
20,3982.0,1987.400000,ABC,123ABC,M,12AB,XYY
21,3984.0,1985.333333,ACC,123ACC,F,12AB,XYZ
22,3986.0,1988.000000,ACC,123ACC,F,12AB,XYY
23,3988.0,1987.400000,ABC,123ABC,M,12AB,XYY
24,3988.0,1988.000000,ACC,123ACC,F,12AB,XYY
25,3990.0,1984.777778,ABC,123ABC,M,12AB,XYZ
0,NaN,1981.000000,XYW,123XYW,F,12AC,XZZ
1,NaN,1980.000000,XYW,123XYW,F,12AC,XZY
2,NaN,1985.000000,XYW,123XYW,M,12AC,XZY
3,NaN,1976.000000,XYW,123XYW,M,12AC,XZY
4,NaN,1974.000000,XYW,123XYW,M,12AC,XZZ
5,NaN,1978.000000,XYW,123XYW,M,12AC,XZY
6,NaN,1986.000000,XYW,123XYW,F,12AC,XZZ
7,NaN,1992.000000,XYW,123XYW,F,12AC,XZY
8,NaN,1987.000000,XYU,123XYU,F,12AC,XZY
9,NaN,1989.000000,XYU,123XYU,M,12AC,XZZ
10,NaN,1986.000000,XYU,123XYU,M,12AC,XZZ
11,NaN,1977.000000,XYU,123XYU,F,12AC,XZZ
12,NaN,1988.000000,XYU,123XYU,F,12AC,XZY
13,NaN,1993.000000,XYU,123XYU,M,12AC,XZZ
14,NaN,1989.000000,XYZ,123XYZ,F,12AC,XZY
15,NaN,1974.000000,XYZ,123XYZ,M,12AC,XZZ
16,NaN,1992.000000,XYZ,123XYZ,M,12AC,XZY
17,NaN,1988.000000,XYZ,123XYZ,F,12AC,XZY
18,NaN,1990.000000,XYZ,123XYZ,F,12AC,XZZ
19,NaN,1989.000000,XYZ,123XYZ,M,12AC,XZZ
20,NaN,1981.000000,XYZ,123XYZ,M,12AC,XZY
21,NaN,1989.000000,XYZ,123XYZ,F,12AC,XZY
22,NaN,1991.000000,XYZ,123XYZ,M,12AC,XZY
23,NaN,1977.000000,XYZ,123XYZ,M,12AC,XZZ
24,NaN,1982.000000,XYZ,123XYZ,F,12AC,XZZ
25,NaN,1974.000000,XYZ,123XYZ,F,12AC,XZZ

In [47]:
pandas.concat((excel,csv))

C:\Users\leonardo-filipe\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,2x BirthDate,BirthDate,Client Name,Employee ID,Gender,OrganizationCode,Subsidiary Code
0,3952.0,1988.000000,ACC,123ACC,M,12AB,XYY
1,3952.0,1987.400000,ABC,123ABC,F,12AB,XYY
2,3952.0,1985.333333,ACC,123ACC,F,12AB,XYZ
3,3956.0,1984.777778,ABC,123ABC,F,12AB,XYZ
4,3958.0,1985.333333,ACC,123ACC,F,12AB,XYZ
5,3958.0,1984.777778,ABC,123ABC,F,12AB,XYZ
6,3960.0,1984.777778,ABC,123ABC,M,12AB,XYZ
7,3964.0,1984.777778,ABC,123ABC,M,12AB,XYZ
8,3966.0,1988.000000,ACC,123ACC,F,12AB,XYY
9,3966.0,1984.777778,ABC,123ABC,M,12AB,XYZ
10,3968.0,1985.333333,ACC,123ACC,M,12AB,XYZ
11,3974.0,1987.400000,ABC,123ABC,F,12AB,XYY
12,3976.0,1984.777778,ABC,123ABC,F,12AB,XYZ
13,3976.0,1984.777778,ABC,123ABC,F,12AB,XYZ
14,3978.0,1987.400000,ABC,123ABC,F,12AB,XYY
15,3980.0,1985.333333,ACC,123ACC,M,12AB,XYZ
16,3980.0,1984.777778,ABC,123ABC,M,12AB,XYZ
17,3982.0,1988.000000,ACC,123ACC,F,12AB,XYY
18,3982.0,1988.000000,ACC,123ACC,M,12AB,XYY
19,3982.0,1985.333333,ACC,123ACC,M,12AB,XYZ
20,3982.0,1987.400000,ABC,123ABC,M,12AB,XYY
21,3984.0,1985.333333,ACC,123ACC,F,12AB,XYZ
22,3986.0,1988.000000,ACC,123ACC,F,12AB,XYY
23,3988.0,1987.400000,ABC,123ABC,M,12AB,XYY
24,3988.0,1988.000000,ACC,123ACC,F,12AB,XYY
25,3990.0,1984.777778,ABC,123ABC,M,12AB,XYZ
0,NaN,1981.000000,XYW,123XYW,F,12AC,XZZ
1,NaN,1980.000000,XYW,123XYW,F,12AC,XZY
2,NaN,1985.000000,XYW,123XYW,M,12AC,XZY
3,NaN,1976.000000,XYW,123XYW,M,12AC,XZY
4,NaN,1974.000000,XYW,123XYW,M,12AC,XZZ
5,NaN,1978.000000,XYW,123XYW,M,12AC,XZY
6,NaN,1986.000000,XYW,123XYW,F,12AC,XZZ
7,NaN,1992.000000,XYW,123XYW,F,12AC,XZY
8,NaN,1987.000000,XYU,123XYU,F,12AC,XZY
9,NaN,1989.000000,XYU,123XYU,M,12AC,XZZ
10,NaN,1986.000000,XYU,123XYU,M,12AC,XZZ
11,NaN,1977.000000,XYU,123XYU,F,12AC,XZZ
12,NaN,1988.000000,XYU,123XYU,F,12AC,XZY
13,NaN,1993.000000,XYU,123XYU,M,12AC,XZZ
14,NaN,1989.000000,XYZ,123XYZ,F,12AC,XZY
15,NaN,1974.000000,XYZ,123XYZ,M,12AC,XZZ
16,NaN,1992.000000,XYZ,123XYZ,M,12AC,XZY
17,NaN,1988.000000,XYZ,123XYZ,F,12AC,XZY
18,NaN,1990.000000,XYZ,123XYZ,F,12AC,XZZ
19,NaN,1989.000000,XYZ,123XYZ,M,12AC,XZZ
20,NaN,1981.000000,XYZ,123XYZ,M,12AC,XZY
21,NaN,1989.000000,XYZ,123XYZ,F,12AC,XZY
22,NaN,1991.000000,XYZ,123XYZ,M,12AC,XZY
23,NaN,1977.000000,XYZ,123XYZ,M,12AC,XZZ
24,NaN,1982.000000,XYZ,123XYZ,F,12AC,XZZ
25,NaN,1974.000000,XYZ,123XYZ,F,12AC,XZZ

In [48]:
pandas.merge(excel,csv)

C:\Users\leonardo-filipe\AppData\Roaming\Python\Python37\site-packages\pandas\core\reshape\merge.py:938: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  'representation', UserWarning)

Empty DataFrame
Columns: [BirthDate, Client Name, Employee ID, 2x BirthDate, Gender, Subsidiary Code, OrganizationCode]
Index: []

In [49]:
csv.to_excel('csv_to_excel.xlsx',index=False)

## Numpy

In [50]:
np.array([1983,1982,1987,1978,1976,1980,1988,1994,1989,
          1991,1988,1979,1990,1995,1991,1976,1994,1990,
          1992,1991,1983,1991,1993,1979,1984,1976])

array([1983, 1982, 1987, 1978, 1976, 1980, 1988, 1994, 1989, 1991, 1988,
       1979, 1990, 1995, 1991, 1976, 1994, 1990, 1992, 1991, 1983, 1991,
       1993, 1979, 1984, 1976])

In [51]:
np.array(csv['BirthDate'])

array([1981, 1980, 1985, 1976, 1974, 1978, 1986, 1992, 1987, 1989, 1986,
       1977, 1988, 1993, 1989, 1974, 1992, 1988, 1990, 1989, 1981, 1989,
       1991, 1977, 1982, 1974], dtype=int64)

In [52]:
np.where(csv['BirthDate'].shift(1) > csv['BirthDate'],
         'The previous BirthDate was superior',
         'The previous BirthDate was inferior') #Similar to an If

array(['The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior',
       'The previous BirthDate was inferior',
       'The previous BirthDate was superior'], dtype='<U35')

In [53]:
pandas.Series(np.where(csv['BirthDate'].shift(1) > csv['BirthDate'],
                       'The previous BirthDate was superior',
                       'The previous BirthDate was inferior'))

0     The previous BirthDate was inferior
1     The previous BirthDate was superior
2     The previous BirthDate was inferior
3     The previous BirthDate was superior
4     The previous BirthDate was superior
5     The previous BirthDate was inferior
6     The previous BirthDate was inferior
7     The previous BirthDate was inferior
8     The previous BirthDate was superior
9     The previous BirthDate was inferior
10    The previous BirthDate was superior
11    The previous BirthDate was superior
12    The previous BirthDate was inferior
13    The previous BirthDate was inferior
14    The previous BirthDate was superior
15    The previous BirthDate was superior
16    The previous BirthDate was inferior
17    The previous BirthDate was superior
18    The previous BirthDate was inferior
19    The previous BirthDate was superior
20    The previous BirthDate was superior
21    The previous BirthDate was inferior
22    The previous BirthDate was inferior
23    The previous BirthDate was superior
24    The previous BirthDate was inferior
25    The previous BirthDate was superior
dtype: object

In [54]:
%time res = 1+2+3

Wall time: 0 ns