# Chapter 1 - Solved Exercises

#### 1- Define a variable and assign it your first name (bonus points for input command!)  
#### <em>(Hint: Use the contents covered in the first module, feel free to [check it](https://github.com/LongOnly/Training/blob/master/Module%201.ipynb))</em>

In [1]:
name = input()

Leonardo

#### 2- Retrieve the last 3 characters of your name, assign it to a new variable

In [2]:
last3 = name[-3:]
last3

'rdo'

#### 3- Add the first 3 characters of your name to the end of the previous variable, make it upper case then capitalize it

In [3]:
andFirst3 = (last3+name[0:3])
andFirst3

'rdoLeo'

In [4]:
andFirst3 = andFirst3.upper()
andFirst3

'RDOLEO'

In [5]:
andFirst3 = andFirst3.capitalize()
andFirst3

'Rdoleo'

In [6]:
# OR
andFirst3 = (last3+name[0:3]).upper().capitalize() # the previous steps in 1 line
andFirst3

'Rdoleo'

#### 4- Create a new variable with the year of your birth (its ok to lie here)

In [7]:
DOB = input()

1996

#### 5- Join your name (in lower case) and the last 2 digits of your year of birth into the same variable

In [8]:
lname = name.lower()
lname

'leonardo'

In [9]:
lname += str(DOB[-2:])
lname

'leonardo96'

In [10]:
# OR
lname = name.lower()+str(DOB[-2:]) # the previous steps in 1 line
lname

'leonardo96'

#### 6- Use the previous variable, multiply the digits by 2

In [11]:
dname = lname[:-2]
dname

'leonardo'

In [12]:
dname += str(int(DOB[-2:])*2)
dname

'leonardo192'

In [13]:
# OR
dname = lname[:-2]+str(int(DOB[-2:])*2) # the previous steps in 1 line
dname

'leonardo192'

#### 7- Create an if statement, if that number is superior or equall to 178, print "you are 30 years old or younger", else print "you are 30 years old or older"

In [14]:
number = int(DOB[-2:])*2
number

192

In [15]:
condition = (number >= 178)
condition

True

In [16]:
if condition: # if its True
    print("You are 30 years old or younger")
else:         # if its False
    print("You are 30 years old or older")

You are 30 years old or younger

In [17]:
# OR
if int(DOB[-2:])*2 >= 178: # the previous steps in "1 line"
    print("You are 30 years old or younger")
else:
    print("You are 30 years old or older")

You are 30 years old or younger

#### 8- Replace in the following string the following characters: 0 by o and 3 by e  
#### Then add " - Exercises" to it

In [18]:
ReplaceMe = "Pyth0n Crash C0urs3 M0dul3 1"

In [19]:
ReplaceMe = ReplaceMe.replace("0","o")
ReplaceMe

'Python Crash Cours3 Modul3 1'

In [20]:
ReplaceMe = ReplaceMe.replace("3","e")
ReplaceMe

'Python Crash Course Module 1'

In [21]:
ReplaceMe += " - Exercises"
ReplaceMe

'Python Crash Course Module 1 - Exercises'

In [22]:
ReplaceMe = "Pyth0n Crash C0urs3 M0dul3 1"
# OR
ReplaceMe = ReplaceMe.replace("0","o").replace("3","e")+" - Exercises" # the previous steps in 1 line
ReplaceMe

'Python Crash Course Module 1 - Exercises'

#### 9- Join all the variables from the previous exercises with a ";" between each then split them by ";"

In [23]:
(name+";"+last3+";"+andFirst3+";"+str(DOB)+";"+lname+";"+dname+";"+str(number)+";"+str(condition)+";"+ReplaceMe).split(";")

['Leonardo',
 'rdo',
 'Rdoleo',
 '1996',
 'leonardo96',
 'leonardo192',
 '192',
 'True',
 'Python Crash Course Module 1 - Exercises']

#### 10- There's a column from an excel file that we currently receive monthly that we want to extract, however its name is inconsistent. For example, the last 2 months it has been named 'SalesFiGuRES   ' and 's AL Es'

#### However we expect it to always mention the word 'sales', find a way to describe the name of that column in a way that we can always find the correct column

In [24]:
name1 = 'SalesFiGuRES   '
name2 = 's AL Es'

In [25]:
finalName1 = name1.lower()
finalName1

'salesfigures   '

In [26]:
finalName1 = finalName1.replace(" ", "")
finalName1

'salesfigures'

In [27]:
finalName1[0:5] == 'sales'

True

In [28]:
finalName2 = name2.lower()
finalName2

's al es'

In [29]:
finalName2 = finalName2.replace(" ", "")
finalName2

'sales'

In [30]:
finalName2 == 'sales'

True

In [31]:
# OR
if 'sales' in (name1.lower().replace(" ", "")): # the previous steps in "1 line"
    print('We found the correct column')

if 'sales' in (name2.lower().replace(" ", "")):
    print('We found the correct column')

We found the correct column
We found the correct column